---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='November 4th 2020' %}

  <div class="schedule" data-dates="1-25,5-12,1-24">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='09:45 - 10:00 CEST' title='GrUSP presentation' fill='true' %}

        {% include schedule/talk.html time='10:00 - 10:45 CEST' title='Bless You My Dev' fill='true' %}
        {% include schedule/talk.html time='10:45 - 11:30 CEST' title='JavaScript prerequisites for React (hooks)' fill='true' %}

        {% include schedule/pause.html time='11:30 - 12:00 CEST' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='12:00 - 12:45 CEST' title='Demystifying and leveraging Web Vitals' fill='true' %}
        {% include schedule/talk.html time='12:45 - 13:30 CEST' title='We don’t know how React state hooks work' fill='true' %}

        {% include schedule/pause.html time='13:30 - 15:00 CEST' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html time='15:00 - 15:45 CEST' title='useSideProject - If you build it, they will come' fill='true' %}
        {% include schedule/talk.html time='15:45 - 16:30 CEST' title='React Hooks broke my tests, now what?' fill='true' %}

        {% include schedule/pause.html time='16:30 - 17:00 CEST' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='17:00 - 17:45 CEST' title='Redux -> Recoil' fill='true' %}
        {% include schedule/talk.html time='17:45 - 18:30 CEST' title='Controlled Rollout with React Native and Feature Flags' fill='true' %}

        {% include schedule/pause.html time='18:30 - 18:45 CEST' title='Bye bye from GrUSP' icon="bar" fill='true' %}
      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="5-12,1-24,1-25">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='09:45 - 10:00 CEST' title='GrUSP presentation' fill='true' %}

        {% include schedule/talk.html time='10:00 - 10:45 CEST' title='Bless You My Dev' fill='true' %}
        {% include schedule/talk.html time='10:45 - 11:30 CEST' title='JavaScript prerequisites for React (hooks)' fill='true' %}

        {% include schedule/pause.html time='11:30 - 12:00 CEST' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='12:00 - 12:45 CEST' title='Demystifying and leveraging Web Vitals' fill='true' %}
        {% include schedule/talk.html time='12:45 - 13:30 CEST' title='We don’t know how React state hooks work' fill='true' %}

        {% include schedule/pause.html time='13:30 - 15:00 CEST' title='Lunch' icon="food" fill='true' %}

        {% include schedule/talk.html time='15:00 - 15:45 CEST' title='useSideProject - If you build it, they will come' fill='true' %}
        {% include schedule/talk.html time='15:45 - 16:30 CEST' title='React Hooks broke my tests, now what?' fill='true' %}

        {% include schedule/pause.html time='16:30 - 17:00 CEST' title='Coffee break' icon="coffee" fill='true' %}

        {% include schedule/talk.html time='17:00 - 17:45 CEST' title='Redux -> Recoil' fill='true' %}
        {% include schedule/talk.html time='17:45 - 18:30 CEST' title='Controlled Rollout with React Native and Feature Flags' fill='true' %}

        {% include schedule/pause.html time='18:30 - 18:45 CEST' title='Bye bye from GrUSP' icon="bar" fill='true' %}
      </tbody>
    </table>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
