<section class="limit limit--no-overflow">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        What is it?
      </h4>
      <p class="conf-infos__text">
        React.js is the JavaScript library developed by Facebook and Instagram to create fast and reusable user interfaces.
Introducing new development paradigms and best practices to the frontend, it has gathered a large and active community of developers.
The conference is organized by GrUSP, the organizers of jsDay, in partnership with FEVR.
      </p>

      <!-- <div class="vimeo">
        <iframe class="vimeo__video" src="https://player.vimeo.com/video/176058670?color=8caceb" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div> -->
    </div>

    <div class="conf-infos__column">
      <div class="conf-infos__logos">
          <a href="http://grusp.org" target="_blank"><img class="conf-infos__logo" src="{{ site.baseurl }}/img/logo_grusp.png" alt="GrUSP"></a>
      </div>
    </div>

  </div>
</section>
